in
out
build.ans
combined.cpp
src/test
src/test.*
src/work
tools/geninput.*
tpl/template.hpp.gch
tpl/template.hpp.pch
tpl/template
.vscode/.zcompdump
.vscode/.zsh_history
.vscode/lib.code-snippets
*.exe
*.out
.DS_Store
*.dSYM
