body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
}

.menuItem button {
    display: block;
    margin: 30px auto;
    width: 200px;
    height: 50px;
    text-align: left;
    padding: 0 30px;
    font-size: 16px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.menuItem button:hover {
    background-color: #23527c;
}

.menuItem .priceLabel {
    display: inline-flex;
    width: 100% - 200px;
    margin-left: 20px;
}

.itemCount {
    width: 30px;
    height: 30px;
    margin: 30px auto;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #ff6743;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
}

.summary {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.summary h3 {
    margin-top: 0;
}

.summary div {
    margin-top: 10px;
    font-size: 16px;
}

.summary span {
    font-weight: bold;
}
